.deck {
  position: absolute;
  touch-action: none;
  will-change: transform;
}

.skills-container {
  overflow: hidden;
}

.title-large {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 80px;
  text-align: center;
}


.about-text {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}


