<<<<<<< HEAD
@import "tailwindcss";

body {
  background: linear-gradient(270deg, #6b21a8, #d946ef, #f472b6, #9333ea);
  background-size: 800% 800%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

=======
@import "tailwindcss";

body {
  background: linear-gradient(270deg, #6b21a8, #d946ef, #f472b6, #9333ea);
  background-size: 800% 800%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

>>>>>>> 476f160ad299c7d325babf7aed63cb2af376122b
